.header{
    background-color: crimson;
}

h1{
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #fff;
}

.container-fluid{
    padding: 3% 15%;
}


/* NAVBAR SECTION */

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 400;
}

.nav-link{
    font-family: "Montserrat";
}

/* DOWNLOAD BUTTON */

.download-button{
    margin: 5% 3% 5% 0%;
}

.head-img{
    width: 90%;
    transform: rotate(-8deg);
}

/* FEATURE SECTION */

#features{
    padding: 14% 14%;
}

.feature-box{
    text-align: center;
}

h3{
    font-family: "Montserrat";
    font-weight: 700;
}

p{
    color: #8f8f8f;
    font-family: "Montserrat";
    /* font-weight: 100; */
    font-size: 1.2rem;
}

.icon{
    color: rgb(255, 106, 0);
    margin-bottom: 1rem;
}

.icon:hover{
    color: crimson;
}


/* TESTIMONIALS SECTION */

#testimonials{
    text-align: center;
    color: #fff;
    background-color: rgb(255, 106, 0);
}

h2{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.5rem;
}

.testimonial-img{
    width: 15%;
    background-color: brown;
    border-radius: 100%;
    margin: 2rem;
}

.carousel-item{
    padding: 7% 15%;
}

footer{
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
    letter-spacing: 2px;
    background-color: black;
    color: white;
    font-variant: small-caps;
}